<div>
  <h2>You are about to delete <%= @deal.name %>.</h2>

  <p>Click 'delete' if you're sure.</p>

  <form action="/deal/deleted" method ="post">
  <input type="hidden" name="id" value="<%= @deal.id %>"/>
  <input type="submit" value="Delete"/>
  </form>

</div>