<div>

  <h1>Much obliged!</h1>

  <p>Thanks for adding a joint to the Burger Tracker!</p>

  <p>You can add burgers to your new joint...</p>

  <p>Or you can go back to the <a href="/deals">deals</a>.</p>
  

</div>