<!DOCTYPE html>
<html>
<head>
  <title>Jarrod's Burger Tracker</title>
  <link rel="stylesheet" type="text/css" href="/style.css"
</head>
<body>
  <div class="header">
    <div class="header_text">
      <h1>Jarrod's Burger Tracker</h1>
      <h3>welcome, burger lover.</h3>
    </div>
    <div class="header_links">
    <div>

      <p>select:  <a href="/joints">Joints</a> || <a href="/burgers">Burgers</a> || <a href="/deals">Deals</a></p>
      </div>
    </div>
  </div>
  <div class="main">
    <div>
      <nav>
        <ul>
          <li><a href="/deals"><h3>All deals by eatery</h3></a></li>
          <li><a><h3>All deals by day</h3></a>
            <ul>
              <li><a href="/days/1">Monday</a></li>
              <li><a href="/days/2">Tuesday</a></li>
              <li><a href="/days/3">Wednesday</a></li>
              <li><a href="/days/4">Thursday</a></li>
              <li><a href="/days/5">Friday</a></li>
              <li><a href="/days/6">Saturday</a></li>
              <li><a href="/days/7">Sunday</a></li>
            </ul>
          </li>
          <li><h3>Add your own!</h3>
            <ul>
              <li><a href='/joint/new'>Add Eatery</a></li>
              <li><a href="/new/index">Add Deal or Burger</a></li>
            </ul></li>
            <li><h3>Delete...</h3>
              <ul>
                <li><a href='/joint/delete'>Eateries</a></li>
                <li><a href='/deal/delete'>Deals</a></li>
                <li><a href='/burger/delete'>Burgers</a></li>
              </ul>
            </li>
          </ul>
          <img class="burger" src="/images/burger_only.png" alt="burger sketch"/>
        </nav>
      </div>
      
      <div>

        <%= yield %>
        
      </div>

    </div>
  </body>
  </html>