<!DOCTYPE html>
<html>
<head>
  <title>Jarrod's Burger Tracker</title>
  <link rel="stylesheet" type="text/css" href="/style.css"
</head>
<body>
  <div class="main">

    <div>
      <nav>
        <ul>
          <li>All deals by eatery</li>
          <li>All deals by day
            <ul>
              <li>Monday</li>
              <li>Tuesday</li>
              <li>Wednesday</li>
              <li>Thursday</li>
              <li>Friday</li>
              <li>Saturday</li>
              <li>Sunday</li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div>

      <%= yield %>

    </div>
  </body>
  </html>