<!DOCTYPE html>
<html>
<head>
  <title>Jarrod's Burger Tracker</title>
  <link rel="stylesheet" type="text/css" href="/style.css"
</head>
<body>
  <div class="main">

    <div>
      <nav>
        <ul>
          <li>All deals by eatery</li>
          <li>All deals by day
            <ul>
              <li><a href="/days/monday">Monday</a></li>
              <li><a href="/days/tuesday">Tuesday</a></li>
              <li><a href="/days/wednesday">Wednesday</a></li>
              <li><a href="/days/thursday">Thursday</a></li>
              <li><a href="/days/friday">Friday</a></li>
              <li><a href="/days/saturday">Saturday</a></li>
              <li><a href="/days/sunday">Sunday</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div>

      <%= yield %>

    </div>
  </body>
  </html>