<div>

  <h2>This is where you add a new deal</h2>

  <form action="/joint/confirm" method ="post">
    <p>
      <label>
        Eatery: <select name="eatery_id">
          <% @eateries.each do |eatery| %>
          <option value="<%eatery.id%>"><%=eatery.name%></option>
          <%end%>
        </select>
      </label>
    </p>

    <p>
      <label>
      Deal name: <input type="text" name="name" />
      </label>
    </p>

    <p>
      <label>
      Description of deal: <input type="text" name="description" />
      </label>
    </p>
    
    <p>
      <label>
        Day: <select name="day_id">
          <% @days.each do |day| %>
          <option value="<%day.id%>"><%=day.name%></option>
          <%end%>
        </select>
      </label>
    </p>

    <p>
      <input type="submit" value="Add this deal" />
    </p>
  </form>

</div>
