<div>

  <h1>Add to the Tracker!</h1>

  <div class="deal">
    <p>Howdy! Tracked down any good burger joints, burgers or deals lately? Help us out!</p> 
    <p>To add an eatery, click here:</p>
  
  <h3 style="margin-left:30px;"><a href="/joint/new">Add eatery</a></h3>
  </div>

</div>