<div>

  <h1>Add to the Tracker!</h1>
  <div class="deal">
    <p>To add deals or burgers to an existing joint, select it from the list below, pick 'New deal' or 'New burger', and click 'go'.</p>
  
  
  <form style="margin-left:30px;" action="/deal_or_burger" method ="post">
    <p>
      <label>
      <h3>Eatery:</h3>
        <select name="eatery_id">
          <% @eateries.each do |eatery| %>
          <option value="<%=eatery.id%>"><%=eatery.name%></option>
          <%end%>
        </select>
      </label>
    </p>
    <p>
      <input type="radio" name="deal_or_burger" value="burger" />New Burger
      <input type="radio" name="deal_or_burger" value="deal" />New Deal
    </p>
    <p>
      <input type="submit" value="Go!" />
    </p>
  </form>

  </div>
</div>