<div>

  <h2>This is where you add a new eatery</h2>

  <form action="/joint/confirm" method ="post">
    <p>
      <label>
        Joint name: <input type="text" name="name" />
      </label>
    </p>

    <p>
      <input type="submit" value="Add this joint" />
    </p>
  </form>

</div>

