<div>

  <h1>Add to the Tracker!</h1>

    <div class="deal">
      <p>Howdy! Tracked down any good burger joints lately? Help us out!</p> 
      <p>To add an eatery, click here:</p>
      </div>

  <form action="/joint/confirm" method ="post">
    <p>
      <label>
        Joint name: <input type="text" name="name" />
      </label>
    </p>

    <p>
      <input type="submit" value="Add this joint" />
    </p>
  </form>

</div>

