@font-face {
    font-family: 'norwester';
    src: url('/fonts/norwester.ttf'); 
}

a {
  text-decoration: none;
  color: #414141;
}

a:hover {
  -webkit-text-stroke: 1px black;
  color: #414141;
}

a:visited {
  color: #414141;
}

body {
  /*font: helvetica;*/
  font-family: sans-serif;
  margin: 0;
  background-color: #F8F5E1;
  
  font: courier;
  font-family: monospace;
  font-size: 130%;
  color: #414141;
}

div {
  /*border: 1px solid #d3d3d3;*/
}

img.burger {
  width: 300px;
  height: 300px;
  margin-top: 0px;
}

h1 {
  margin: 0;
  font-family: 'norwester';
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

div.header {
  display: flex;
  height: 160px;
  color: #FFC125;
  /*background-color: #0e1717;*/
  background-color: white;
  -webkit-text-stroke: 0.5px black;
  font-family: 'norwester';
  /*width: 100%;*/
  justify-content: space-between;
  background: url(/images/restaurant.png) no-repeat;
  box-shadow: 10px 20px 30px 10px #000000 inset;
  border-bottom: 2px;
}

div.header h1 {
}

div.header a {
  color: #FFC125;
  -webkit-text-stroke: 0.5px black;
}

div.header a:hover {
  color: black;
  -webkit-text-stroke: 0.5px #FFC125;
}

div.header_text {
padding: 10px 0px 10px 30px;
}

div.header_links {
  margin-right: 30px;
}

div.header h3 {
  font-family: 'norwester';
}

div.main {
  background-color: #F8F5E1;
  display: flex;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 30px;
    background: url(/images/burger_meal.png) 95% 95% no-repeat;
  background-size: 41%;
  background-attachment: fixed;
}

div.page_title {
  margin-bottom: 30px;
}

div.deals {
  display: flex;
  margin: 0;
}

div.deal {
  background-color: #F8F5E1;
  opacity: 0.9;
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 0.1px solid #414141;
}

div.deal_wide {
  background-color: #F8F5E1;
  opacity: 0.9;
  margin: 10px;
  padding: 10px;
  width: 500px;
  border: 0.1px solid #414141;
}

div.deal p {
  margin: 0.3em 0em 0.3em 1em;
}

div.deal ul {
  margin: 0.3em 0em 0.3em 1em;
}

nav {
  margin: 0px;
  margin-right: 30px;
}

nav ul {
  padding: 0;
  margin: 0;
  font-family: 'norwester';
}

nav ul li ul {
  padding-left: 5px;
  margin: 0;
  font: courier;
  font-family: monospace;
}

nav ul li {
  list-style-type: none;
  padding-bottom: 15px;
}

nav ul li ul li{
 padding-bottom: 2px;
}

div.footer {
  color: #F8F5E1;
  background-color: #414141;
  margin-top: 10px;
  padding: 5px 0 5px 0;
}

div.footer p a {
  color: #F8F5E1;
}

div.footer p a: hover{
  background-color: #F8F5E1;
  color: #414141;
}

div.footer p {
  margin: 0 0 0 20px;
}